
* {
    margin: 0;
    padding: 0;

}
.main{
    height: 20vw;
    width: 45vw;
    margin-top: 1%;
    margin-left: 26%;
    background-color: rgb(240, 244, 244);
    border: solid rgb(70, 63, 63);
    
    text-align: center;
    

}
.deva{
     margin-top: 20.7%;
    /* margin-left: 30.0%; */ 
    width: 19vw;
    height: 1.4vw;
    padding: auto auto auto auto;
  
}
 
/* 
this the frist div css */


h2 {
    text-align: center;
    color: rgb(236, 158, 13);
}
.box {
    height: 17vw;
    width: 100vw;
    background-color: rgb(190, 209, 200);
    margin: auto;
    margin-top: 5rem;
    border-radius: 5px;
}
.buttons1 {
    margin: 0.60rem auto auto 0.29rem;
    padding: 0.19rem;
    font-size: 1rem;
    text-align: center;
    height: 2rem;
    width: 4.2rem;
    justify-content: space-evenly;
}
#LONG{
    width: 23rem;
    margin-bottom: 3rem;
}
#cap{
    width: 5rem;
}
#shift{
    width: 8rem;
}
#shifts{
    width: 9.5rem;
}
#enter{
    width: 8rem;
}


@media (max-width: 600px) {
    .deva{
        margin-left: 10rem;
    }
} 
@media (max-width: 768px) {
    .deva{
        margin-left: 5rem;
    }
}